<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="{{charset}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{site_title}}</title>

  {{#if description}}
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{description}}">
  {{/if}}
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:locale" content="pt_BR">

  <!-- <link rel="icon" href="{{asset 'src/assets/images/favicon.svg'}}" type="image/svg+xml"> -->
  <!-- <link rel="apple-touch-icon" href="{{asset 'src/assets/images/favicon-180x180.png'}}"> -->

  {{#unless is_dev}}
    <link rel="stylesheet" href="{{vite_css}}">
  {{/unless}}
</head>
<body>

<header>
</header>
